* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    
}

a{
    text-decoration: none;
}
.main{
    max-width: 568px;
    height: 335px;
    margin: 0 auto;
}

.header{
    background-color: #fcc3c3;
    width: 100%;
    height: 8.4%;
    position: relative;
}
.header__logo{
    background-color: white;
    width: 14.1%;
    height: 50%;
    margin-top: 1%;
    position: absolute;
    left: 2.6%;
    border:0;
    border-radius: 3px;
}
.header__logo-link{
    display: block;
    width: 100%;
    height: 100%;
}
.header__logo-img{
    width: 100%;
    height: 100%;
}

.header__info{
    float: right;
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin-right: 2.5%;
    margin-top: 1%;
}
.header__info-link{
    display: block;
    height: 50%;
    width: 50%;
}
.bx-icon {
    font-size: 100%;
    color: #72b1bf;
}
/* Container */
.container {
    height: 91.6%;
    display: flex;
}
/* Sidebar */
.sidebar{
    width: 19%;
    background-color: #a2eafa;
    height: 100%;
}
.sidebar__menu{
    display: block;
    font-size: 7%;
    margin-left: 9.3%;
    margin-top: 10%;
    color: #000;
}

/* Content */
.content {
    width: 81%;
    height: 100%;
    background-color: #dfdfdf;
}
.content__link{
    height: 4%;
    margin-left: 3%;

}
.content__link-home,
.content__link-location{
    display: inline-block;
    font-size: 7%;
    color: black;
    background-color: #c4c4c4;
    line-height: 192%;
    width: 10%;
    height: 82%;
    border: 0;
    border-radius: 3px;
}
.content__link-location{
    width: 15%;
}
.content__link span {
    font-size: 7%;
} 

/* content__products */
.content__products1 {
    height: 88%;
    margin: 3%;
    background-color: #c4c4c4 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around  ;
    border:0;
    border-radius: 6px;
    /* overflow: scroll;     */
    /* display: none; */
}
.content__product{
    width: 24%;
    height: 48%;
    margin-top: 0.5%;
    background-color: rgb(59 55 55);
    border: 1px solid black;
    border-radius: 7%;
}
.content__product-image{
    display: block;
    width: 70%;
    height: 45%;
    margin: auto;
    margin-top: 7%;
}
.content__product-img{
    width: 100%;
}
.content__product-desc{
    display: block;
    color: whitesmoke;
    font-size: 1%;
    font-weight: bold;
    margin-top: 18%;
    text-align: center;
    padding: 0 5%;
}
.content__product-rate{
    font-size: 63%;
    color: whitesmoke;
    text-align: center;
}
.content__product-buy{
    width: 35%;
    font-size: 63%;
    margin-left: 32%;
    cursor: pointer;
    border: 0;
    border-radius: 24%;
}
.content__product-buy:hover{
    background-color: rgb(53, 49, 49);
    color: whitesmoke;
}
.content__products2,
.content__products3,
.content__products4,
.content__products5 {
    height: 88%;
    margin: 3%;
    background-color: #c4c4c4 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around  ;
    display: none;
}